body {
  margin: 0;
  background-color: lightgray;
}

#my-canvas {
  background-color: darkgray;
  
  
}

#start-btn, #restart-btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas{
  display: none;
}

#gameover-screen{
  display: none;
}
#puntos-p{
  display: none;
  position: relative;
  left:   -235px;
  top: -390px;
  color: white;
  justify-content: center;
  align-items: left;
  margin: 1px;
}
#oxigeno-p {
  display: none;
  position: relative;
  left:  -240px;
  top: -390px;
  color: white;
  justify-content: center;
  align-items: left;
  margin: 1px;

}